*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

p{
  line-height: normal;
  margin-bottom: 0;
}

:root {
  --color__main: rgba(0,01,255,0.291);
  --color__accent: #2360c4;
  --field__background: rgba(0,101,255,0.04);
  --field__background--hover: rgba(0,101,255,0.04);
  --input__border: var(--color__main);
  --input__border--hover: var(--color__main);
  --label__color: #222;
  --font__size: 16px;
  --font__family: Arial, sans-serif;
}

.floating {
  margin-bottom: 0px;
  background: white;
  transition: var(--color__main) 0.2s ease;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.floating__input:hover,
.floating__input:focus-within {
  background-color: var(--field__background--hover);
}

.floating__input {
  width: 100%;
  background-color: var(--field__background);
  padding: 1.8rem 1rem 0.6rem;
  font-size: 1rem;
  border: 2px solid var(--input__border);
  border-radius: 5px;
  transition: border-color 0.2s ease;
  caret-color: var(--color__accent);
}

.show-hide-button {
  width: auto;
  margin-left: 9px;
  background-color: var(--field__background);
  font-size: 1rem;
  border: 2px solid var(--input__border);
  border-radius: 5px;
  transition: border-color 0.2s ease;
  caret-color: var(--color__accent);
  padding: 0 10px 0 10px;
  cursor: pointer;
}

.show-hide-button:hover {
  background-color: rgba(0,101,255,0.15);
  border-color: #2360c4;
}

.floating__input:hover .floating__input:active {
  border-color: var(--input__border--hover);
}

.floating__input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating__label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;
}

.floating__label::before {
  color: var(--label__color);
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 1rem;
  position: relative;
}

.floating__label::after {
  bottom: 1rem;
  content: "";
  height: 0.1rem;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), var(--color__main) 0.3s ease;
  opacity: 0;
  left: 0;
  top: 100%;
  margin-top: -0.1rem;
  transform: scale3d(0, 1, 1);
  width: 100%;

}

.floating__input:focus +.floating__input:after{
  border: 2px solid red;
}

.floating__input:focus + .floating__label::after {
  transform: scale3d(1, 1, 1);
  opacity: .3;
}

.floating__input:placeholder-shown + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus + .floating__label::before {
  transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.floating__input:focus + .floating__label::before {
  color: var(--color__accent);
}

/* ---------------------------------------------- */
/* --  Codepen styles & resets - not required  -- */
/* ---------------------------------------------- */

html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background: white;
  min-height: -webkit-fill-available;
}

html {
  box-sizing: border-box;
  background-image: url("background.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  height: -webkit-fill-available;
}

body {
  position: relative;
  background: transparent;
  min-height: 100%;
  width: 100%;
  align-items: center;
  max-width: 40rem;
  font-family: var(--font__family);
  font-size: var(--font__size);
  font-weight: 400;
  flex-direction: column;
  margin: 0;
}


input {
  background: none;
  border-width: 0;
  display: block;
  width: 100%;
}

fieldset {
  padding: 3rem 2rem 1.5rem;
}

legend {
  padding: 0 0.5rem;
}

/* apply a natural box layout model to all elements, but allowing components to change */


.uplift-public{
  z-index:2;
}


.public-wrapper {
  z-index:1;
  padding: 16px;
  border: 3px solid rgba(0,101,255,0.5);
  border-radius: 1rem;
  color: black;
  background: white;
  position:absolute;
  top:0;
  left:0;
  right:0;
  width:100%;
  max-width: 650px;
  min-width: 320px;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  height:550px;
  margin:auto;
}

.public-wrapper-tall {
  z-index:1;
  padding: 16px;
  border: 3px solid rgba(0,101,255,0.5);
  border-radius: 1rem;
  color: black;
  background: white;
  position:absolute;
  top:0;
  left:0;
  right:0;
  width:100%;
  max-width: 650px;
  min-width: 320px;
  -ms-transform: translateY(30%);
  transform: translateY(30%);
  height:700px;
  margin:auto;
}


.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*--color__main: rgba(0,101,255,0.29);*/
/*--field__background: rgba(0,101,255,0.04);*/

.button:disabled {
  transition: all .5s ease;
  background: rgba(0,101,255,0.01);
  border: 2px solid rgba(0,101,255,0.1);
  color: #ddd;
  cursor: auto;
}

.button {
  transition: all .5s ease;
  margin-bottom: 0px;
  margin-top: auto;
  border-radius: 5px;
  background: rgba(0,101,255,0.27);
  border: 2px solid rgba(0,101,255,0.9);
  color: #111;
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  font-size: .6rem;
  letter-spacing: 1px;
  cursor: pointer;
}


.move-to-bottom{
  width: 100%;
  top:auto;
  bottom: 16px;
  left: auto;
  right: 0;
  position: absolute;
  font-size: 2rem;
}

.login-button{
  position: relative;
  margin-left: 16px;
  margin-right: -16px;
  font-size: 2rem;
}

.form {
  background-color: #fff;
  box-shadow: 2px 2px 16px 3px var(--color__main);
}

.form-checkbox{
  font-size: 2rem;
}

.form-link{
  color: var(--color__accent);
}

.form-link:hover{
  cursor: pointer;
  color: var(--color__accent);
  text-decoration:var(--color__accent) underline;
}

a:visited,a:active,a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  /*text-decoration-color: var(--color__accent);*/
}

.title{
  padding-top: 5px;
  text-decoration: underline;
  top:0px;
  text-align: left;
  font-size: 1.5rem;
}

.website-name{
  padding-right: 10px;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight:700;
}

@media screen and (max-width: 420px) {
  .website-name{
    padding-top: 10px;
    padding-right: 0;
    font-size: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .website-name{
    font-size: 1.6rem;
  }
}

.holder{
  margin-bottom: 1.5rem;
}

.flex-wrapper{
  display: flex;
}

.warning-holder{
  margin-top: 0;
  margin-left: 10px;
  color:red;
  font-size: .9rem;
}
.link-holder{
  color:red;
  font-size: .9rem;
}

#form-link:link,#form-link:active,#form-link:visited{
  color: red;
}
#form-link:hover{
  text-decoration-color: red;
  color: red;
}


.fa-times{
  transition: all .5s ease;
  color: #222222;
  top:.8rem;
  left: auto;
  right: .8rem;
  position: absolute;
  font-size: 1.2rem;
}

.fa-times:hover{
  transition: all .5s ease;
  color: red;
  cursor: pointer;
  font-size: 2rem;
  /*var(--color__accent)*/
}

.info-wrapper{
  padding: 16px;
  border: 3px solid rgba(255,0,9,0.3);
  border-radius: 1rem;
  position: absolute;
  background: white;
  width: 101%;
  top:-73px;
  height: 73px;
  bottom:auto;
  left:-3px;
  right:0;
}

@media screen and (max-width: 600px) {
  .info-wrapper{
    top:-90px;
    height: 90px;
  }
}

.info-text-holder{
  width: 97%;
}

.main-area{
  flex: 1;
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  min-width: 100%;
  position: relative;
  align-content: center;
}


.logged-nav-area{
  background: transparent;
  flex: 1;
  margin: 0 auto 10px auto ;
  border: 0px;
  max-width: 800px;
  min-width: 310px;
  z-index:1;
  right: auto;
  top:0;
  bottom: auto;
  justify-content: center;
  width: 100%;
}

.nav-wrapper-button{
  cursor: pointer;
  border: 1px;
  box-shadow: -3px -3px 10px rgba(0,101,255,.2), 2px 0px 10px #fff;
  line-height: normal;
  color: black;
  padding: 8px;
  background: rgba(66, 144, 255, 0.35);
  border-radius: 5px 5px 0 0;
  margin-right: 10px;
  font-size: 1.5rem;
  margin-bottom: 0;
  white-space: nowrap;
  margin-top: 10px;
}

.nav-wrapper-button:hover{
  background: rgba(66, 144, 255, 0.65);
}



@media screen and (max-width: 658px) {
  .nav-over-658px-media{
    flex-direction: column;
    width: 100%;
  }
  .nav-wrapper-button{
    border-radius: 0;
    padding-left: 20px;
  }
}

#logout-button:hover{
  background: rgba(0,101,255,0.22);
  background-image: url(logout-hover.png);
}


.logged-work-area{
  margin-left: auto;
  margin-right: auto;
  flex: 2;
  max-width: 800px;
  min-width: 310px;
  min-height: 100%;
  height: 100%;
  height: auto;
  z-index:1;
  box-shadow: -2px -3px 10px rgba(0,101,255,.2), 2px 0px 10px #fff;
  width: 100%;
  position: relative;
  background: rgba(255,255,255,0.80);
  border-bottom: 0px;
  padding:1rem
}


.schedule-form{
  width:100%
}
.center{
  display: table;
  margin: 0 auto;
}

.mb{
  margin-bottom: 30px;
}

.fullW{
  width: 100%;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  right: -50%;
  -ms-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.add_delete_icon{
  height: 40px;
  width: 30px;
  border: solid 1px #d9d9d9;
  border-radius: 2px;
}

.add_delete_icon:hover{
  border: solid 1px #40a9ff;
}

.phone_number_input{
  height: 40px;
  background: white;
  border: solid 1px #d9d9d9;
  border-radius: 2px;
  padding-left:8px;
  width: 356px;
}

.test{
  text-align: center;
}

input:disabled{
  color: black;
}

.delete_contact{
  height: 40px;
  width: 100%;
  border: solid 1px #d9d9d9;
  border-radius: 2px;
  background: rgba(255, 0, 0, 0.25)
}

.show-one-message{
  height: auto;
  width: 100%;
  border: solid 1px #d9d9d9;
  border-radius: 2px;
}

.text-editor{
  padding: 10px;
  height: auto;
  width: 100%;
  cursor: pointer;
  background: white;
  border: solid 1px #d9d9d9;
  border-radius: 2px;
}
.text-editor:focus{
  border: solid 1px #40a9ff;
}

.add_icon_selected{
  height: 40px;
  width: 30px;
  cursor: pointer;
  marginRight: 9;
  background: rgba(64, 169, 255, 0.25);
  minWidth: 30;
  border: solid 1px #40a9ff;
  border-radius: 2px;
}

.add_icon{
  height: 40px;
  width: 30px;
  cursor: pointer;
  marginRight: 9;
  background: rgba(64, 169, 255, 0.15);
  minWidth: 30;
  border: solid 1px #d9d9d9;
  border-radius: 2px;
}

.animate-background-blue-red{
  animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 0.7s;
}

@keyframes example {
  0%   {background-color: rgba(64, 169, 255, 0.15);}
  50% {background-color: rgba(255, 140, 140, 0.3);}
  100% {background-color: rgba(64, 169, 255, 0.15);}
}

.add_icon:hover{
  border: solid 1px #40a9ff;
  color: rgba(64, 147, 255, 0.9);
}

.add_icon_selected{
  height: 40px;
  width: 30px;
  cursor: pointer;
  marginRight: 9;
  background: rgba(64, 169, 255, 0.25);
  minWidth: 30;
  border: solid 1px #40a9ff;
  border-radius: 2px;
}

.add_icon{
  height: 40px;
  width: 30px;
  cursor: pointer;
  marginRight: 9;
  background: rgba(64, 169, 255, 0.15);
  minWidth: 30;
  border: solid 1px #d9d9d9;
  border-radius: 2px;
}

.add_icon:hover{
  border: solid 1px #40a9ff;
  color: rgba(64, 147, 255, 0.9);
}

.add_icon_disabled{
  height: 40px;
  width: 30px;
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  marginRight: 9;
  minWidth: 30;
  border: solid 1px #d9d9d9;
  border-radius: 2px;
}



.token_expiration_alert {
  z-index: 2;
  opacity: 1;
  padding: 16px;
  border: 3px solid red;
  border-radius: 1rem;
  color: black;
  background: white;
}


.mobile-width-100pr-bellow-450px{
  width: 50%;
}

@media screen and (max-width: 450px) {
  .mobile-width-100pr-bellow-450px{
    width: 100%;
  }
}
.margin-top-max-620px{
  margin-top: 9px;
}

@media screen and (min-width: 625px) {
  .input-contact-plus-save{
    display: flex;
    width: 100%;
  }
  .input-contact-inner-plus-save{
    display: flex;
    width: 100%;
    margin-bottom: 0;
    margin-right: 9px;
  }
  .margin-top-max-620px{
    margin-top: 0px;
  }
  .input-contact-inner-no-right-margin-plus-save{
    display: flex;
    width: 100%;
    margin-bottom: 0;
    margin-right: 0px;
  }
  .input-contact-inner-no-right-margin-plus-save{
    display: flex;
    width: 100%;
    margin-bottom: 0;
    margin-right: 0px;
  }
  .right-cell-delete_contact-plus-save{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0px;
  }
  .right-cell-delete_contact-plus-save-with-border{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .left-cell-delete_contact-plus-save{
    padding-right: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0px;
  }
  .left-cell-delete_contact-plus-save-with-border{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .padding-left-88px-min-width-620px{
    padding-left: 88px;
  }
  .center2-min-620px{
    display: block;
  }
  .center-min-620px{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 500px) {
  .input-contact{
    display: flex;
    width: 100%;
  }
  .input-contact-inner{
    display: flex;
    width: 100%;
    margin-bottom: 0;
    margin-right: 9px;
  }
  .input-contact-inner-no-right-margin-plus-save{
    display: flex;
    width: 100%;
    margin-bottom: 0;
    margin-right: 0px;
  }
  .padding-left-88px-min-width-500px{
    padding-left: 88px;
  }
  .center2-min-500px{
    display: block;
  }
  .center-min-500px{
    margin-left: auto;
    margin-right: auto;
  }
  .margin-left-0px-min-500px{
    margin-left: 0;
  }
  .left-cell-delete_contact{
    padding-right: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0px;
  }
  .right-cell-delete_contact{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0px;
  }
}

@media screen and (max-width: 620px) {
  .margin-top-max-620px{
    margin-top: 9px;
  }
  .margin-bottom-max-620px{
    margin-bottom: 10px;
  }

  .margin-bottom-max-620px-lrg{
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 500px) {
  .margin-top-max-500px{
    margin-top: 9px;
  }
  .margin-bottom-max-500px{
    margin-bottom: 10px;
  }

  .margin-bottom-max-500px-lrg{
    margin-bottom: 24px;
  }
}

.input-contact{
  width: 100%;
}

input-contact-inner{
  display: flex;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 100px;
}

.input-contact-plus-save{
  width: 100%;
}

.input-contact-plus-save{
  width: 100%;
}

input-contact-inner-plus-save{
  display: flex;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 100px;
}

.width150prc{
  width: 150%;
}



.left-cell-add_icon{
  margin-right: 10px;
  width: 50%;
}

.right-cell-add_icon{
  width: 50%;
}

.flex-wrapper-max-400px{
  display: flex;
}

@media screen and (max-width: 400px) {
  .left-cell-add_icon{
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0;
  }
  .right-cell-add_icon{
    width: 100%;
  }
  .flex-wrapper-max-400px{
    flex-direction: column;
  }
}

.cancel_job{
  background: rgba(255,0,0,0.1);
  width: auto;
  height: auto;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-color: rgba(255,0,0,0.2);
  cursor: pointer;
}

.cancel_job:hover{
  background: rgba(255,0,0,0.3);
}

.cancel-div-wrapper{
  position: absolute;
  width: 100%;
  height: 100px;
  transform: translate(0,64%);
  left: 0;
  z-index: 3;
}


.inside-test{
  box-shadow: -5px -5px 10px rgba(255, 0, 0, 0.2), 2px 0px 10px #fff;
  background: rgb(252, 225, 221);
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  border: solid 2px rgb(255, 147, 132);
  font-size: 1.2rem;
}

.inside-test-button{
  margin-top:10px;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  border: solid 1px rgb(255, 147, 132);
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(255, 147, 132);
}

.yes-inside-test-button:hover{
  box-shadow: -5px -5px 15px rgba(255, 0, 0, 0.2), 2px 0px 10px #fff;
  color: rgb(255, 31, 0);
}


.no-inside-test-button{
  border-color: #7cb305;
  background: rgb(241, 248, 238);
  color: #7cb305;
}

.no-inside-test-button:hover{
  box-shadow: -5px -5px 15px #acbe8a, 2px 0px 10px #fff;
  color: #689800;
}

.hide-decoration a:hover{
  text-decoration: none;
}



.filters-margin-right{
  margin-right: 10px;
}

.all-button:hover{
  color:black
}

.active-button{
  width: 100%;
  background: rgba(134, 255, 64, 0.1);
}

.active-button:hover{
  border-color: rgb(100, 189, 50);
  color:black
}

.canceled-button{
  width: 100%;
  background: rgba(255,0,0,0.1);
}

.canceled-button:hover{
  border-color: rgba(255, 0, 0, 0.77);
  color:black
}

.completed-button{
  width: 100%;
  background: rgba(0, 0, 0, 0.03);
}

.completed-button:hover{
  border-color: rgba(0, 0, 0, 0.45);
  color:black
}


@media screen and (max-width: 400px) {
  .no-margin-below-400px{
    margin-right: 0;
  }
  .margin-bottom-below-400px{
    margin-bottom: 10px;
  }
}

.checking-form{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 2;
}

.loading-icon{
  position: absolute;
  top:auto;
  bottom: 0;
  left:0;
  right:0;
  height: 50%;
  background: none;
}

.just-scheduled-message{
  box-shadow: -5px -5px 10px rgba(84, 169, 63, 0.2), 2px 0px 10px #fff;
  background: rgb(224, 252, 221);
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  border: solid 2px rgb(95, 171, 59);
  font-size: 1.2rem;
  background: white;
}

.greenColorHover:hover{
  color: rgb(95, 171, 59);
}


.dashboard-info{
  height: auto;
  width: 100%;
  background: rgba(64, 169, 255, 0.03);
  border: solid 1px #d9d9d9;
  border-radius: 2px;
  margin-bottom: 10px;
}

.add_funds{
  background: rgba(255,0,0,0.1);
  width: auto;
  height: auto;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-color: rgba(0, 140, 255, 0.2);
  cursor: pointer;
  background: none;
}

.add_funds:hover{
  background: rgba(0, 102, 255, 0.1);
}

.info-how-to-create-dynamic-messages{
  border-color: rgba(0, 140, 255, 1);
  color: rgb(0, 77, 140);
  background: rgba(0, 140, 255, 0.2);
}

.session-timer-wrapper{
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 10px;
}

.session-timer-holder{
  position: relative;
  border: 2px solid rgba(243, 66, 66, 0.66);
  min-width: 200px;
  width: 50%;
  min-height: 110px;
  background: rgb(229, 243, 255);
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
}

.session-timer-button{
  background: rgba(243, 66, 66, 0.33);
  border-color: rgba(243, 66, 66, 0.66);
}

.session-timer-button:hover{
  color: black;
  background: rgba(243, 66, 66, 0.66);
  border-color: rgba(243, 66, 66, 1);
}


@media screen and (max-width: 400px) {
  .add-300px-if-mobile{
    height: 300px;
  }
}
